@charset "UTF-8";

@font-face {
  font-family: "As";
  src: url("../Aspekta-400.ttf");
}
@font-face {
  font-family: "sugar";
  src: url("../sugarmagicpersonaluseonly-jemyo.otf");
}

h1,
h2,
h3,
p,
a {
  font-family: "as", sans-serif;
}
